body, html {
	margin: 0;
	padding: 0;
	width: 100%;
}
canvas{
	width: 100%;
}

h1{
	text-align: center;
	color:white;
	background-color: #96c9f1;
	padding: 1%;
	margin: 0%;
	margin-bottom: 0%;
	font-size: 4em;
}
div>p {
	text-align: center;
}
.tabHead{
	background-color:grey;
	color: white;
	width: 50%;
	float: left;
	text-align: center;
	margin-top: 0%;
	font-size: 2em;
}

.active{
	background-color:#96c9f1; 
	color: #000;
}
.clickable:hover{
	cursor: pointer;
}
.hidden{
	display: none;
}
.clockBlock{
	width: 20%;
}
#clocks{
	width: 100%;
}
